:root {
  color-scheme: light dark;
  --bg-color: light-dark(#efedea, #303030);
  --fg-color: light-dark(#333b3c, #efefec);
  --bg-color2: light-dark(purple, SlateBlue);
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: 1em;
}

a:link {
    color: light-dark(blue, #0077aa);
    text-decoration: none;
}
a:visited {
    color: light-dark(purple, #aa77aa);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header {
  display: inline-block;
  font-family: monospace;
  text-decoration: none;
  font-size: large;
}
